<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>org.openmrs.module.ohrimamba</package>
    <author>Arthur D. Mugume [MakSPH], Laureen G. Omare [UCSF], Amos Laboso [UoN]</author>
    <description>${project.parent.description}</description>

    <activator>org.openmrs.module.ohrimamba.OHRIMambaActivator</activator>

    <require_version>${openmrsPlatformVersion}</require_version>

    <require_modules>
        <require_module>org.openmrs.module.webservices.rest</require_module>
    </require_modules>

    <globalProperty>
        <property>mambaetl.analysis.db.url</property>
        <defaultValue>jdbc:mysql://db:3306/analysis_db?autoReconnect=true</defaultValue>
        <description>MambaETL JDBC Connection string
        </description>
    </globalProperty>

    <globalProperty>
        <property>mambaetl.analysis.db.username</property>
        <defaultValue>root</defaultValue>
        <description>MambaETL username</description>
    </globalProperty>

    <globalProperty>
        <property>mambaetl.analysis.db.password</property>
        <defaultValue>openmrs</defaultValue>
        <description>MambaETL user password</description>
    </globalProperty>

    <globalProperty>
        <property>mambaetl.analysis.db.driver</property>
        <defaultValue>com.mysql.jdbc.Driver</defaultValue>
        <description>MambaETL JDBC driver</description>
    </globalProperty>

    <!-- All message codes should start with @MODULE_ID@.* -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>
    <messages>
        <lang>es</lang>
        <file>messages_es.properties</file>
    </messages>

</module>